In [1]:
import numpy as np
import pandas as pd

In [2]:
# To read the file
data = pd.read_csv(r'C:\Users\Kavya\OneDrive\Documents\Data sets\auto-mpg.csv')

In [3]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [4]:
# First 10 rows
data.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl

In [5]:
# No.of rows and cols
data.shape

(398, 9)

In [6]:
# Summary statistics
data.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [7]:
# Print selected columns
boolean = (data['model year'] == 75) & (data['weight'] < 3000)
df = data[boolean] 
df[['car name', 'weight', 'mpg']]

              car name  weight   mpg
167     toyota corolla    2171  29.0
168         ford pinto    2639  23.0
169        amc gremlin    2914  20.0
170      pontiac astro    2592  23.0
171      toyota corona    2702  24.0
172  volkswagen dasher    2223  25.0
173         datsun 710    2545  24.0
174         ford pinto    2984  18.0
175  volkswagen rabbit    1937  29.0
177         audi 100ls    2694  23.0
178        peugeot 504    2957  23.0
179        volvo 244dl    2945  22.0
180          saab 99le    2671  25.0
181   honda civic cvcc    1795  33.0

In [8]:
 # check for missing values in horsepower columns
missing_values = data[data["horsepower"] == '?']
missing_values

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

In [9]:
# Replace missing values

cleaned_data = data['horsepower'].replace('?', '0')
#data[data['horsepower'] =='?'] = 0
#data['horsepower'] = data['horsepower'].astype(float)
h = cleaned_data.astype(float)
#m = data['horsepower'].median()
m = h.median()
print(m)

92.0

In [10]:
# Replace zero by median
h.replace('0', m)
h.values

array([130., 165., 150., 150., 140., 198., 220., 215., 225., 190., 170.,
       160., 150., 225.,  95.,  95.,  97.,  85.,  88.,  46.,  87.,  90.,
        95., 113.,  90., 215., 200., 210., 193.,  88.,  90.,  95.,   0.,
       100., 105., 100.,  88., 100., 165., 175., 153., 150., 180., 170.,
       175., 110.,  72., 100.,  88.,  86.,  90.,  70.,  76.,  65.,  69.,
        60.,  70.,  95.,  80.,  54.,  90.,  86., 165., 175., 150., 153.,
       150., 208., 155., 160., 190.,  97., 150., 130., 140., 150., 112.,
        76.,  87.,  69.,  86.,  92.,  97.,  80.,  88., 175., 150., 145.,
       137., 150., 198., 150., 158., 150., 215., 225., 175., 105., 100.,
       100.,  88.,  95.,  46., 150., 167., 170., 180., 100.,  88.,  72.,
        94.,  90.,  85., 107.,  90., 145., 230.,  49.,  75.,  91., 112.,
       150., 110., 122., 180.,  95.,   0., 100., 100.,  67.,  80.,  65.,
        75., 100., 110., 105., 140., 150., 150., 140., 150.,  83.,  67.,
        78.,  52.,  61.,  75.,  75.,  75.,  97.,  93.,  67.,  95., 105.,
        72.,  72., 170., 145., 150., 148., 110., 105., 110.,  95., 110.,
       110., 129.,  75.,  83., 100.,  78.,  96.,  71.,  97.,  97.,  70.,
        90.,  95.,  88.,  98., 115.,  53.,  86.,  81.,  92.,  79.,  83.,
       140., 150., 120., 152., 100., 105.,  81.,  90.,  52.,  60.,  70.,
        53., 100.,  78., 110.,  95.,  71.,  70.,  75.,  72., 102., 150.,
        88., 108., 120., 180., 145., 130., 150.,  68.,  80.,  58.,  96.,
        70., 145., 110., 145., 130., 110., 105., 100.,  98., 180., 170.,
       190., 149.,  78.,  88.,  75.,  89.,  63.,  83.,  67.,  78.,  97.,
       110., 110.,  48.,  66.,  52.,  70.,  60., 110., 140., 139., 105.,
        95.,  85.,  88., 100.,  90., 105.,  85., 110., 120., 145., 165.,
       139., 140.,  68.,  95.,  97.,  75.,  95., 105.,  85.,  97., 103.,
       125., 115., 133.,  71.,  68., 115.,  85.,  88.,  90., 110., 130.,
       129., 138., 135., 155., 142., 125., 150.,  71.,  65.,  80.,  80.,
        77., 125.,  71.,  90.,  70.,  70.,  65.,  69.,  90., 115., 115.,
        90.,  76.,  60.,  70.,  65.,  90.,  88.,  90.,  90.,  78.,  90.,
        75.,  92.,  75.,  65., 105.,  65.,  48.,  48.,  67.,  67.,  67.,
         0.,  67.,  62., 132., 100.,  88.,   0.,  72.,  84.,  84.,  92.,
       110.,  84.,  58.,  64.,  60.,  67.,  65.,  62.,  68.,  63.,  65.,
        65.,  74.,   0.,  75.,  75., 100.,  74.,  80.,  76., 116., 120.,
       110., 105.,  88.,  85.,  88.,  88.,  88.,  85.,  84.,  90.,  92.,
         0.,  74.,  68.,  68.,  63.,  70.,  88.,  75.,  70.,  67.,  67.,
        67., 110.,  85.,  92., 112.,  96.,  84.,  90.,  86.,  52.,  84.,
        79.,  82.])

In [11]:
# Create new column with new values
data['power_to_weight_ratio'] = h /  data['weight']
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,0.037100
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,0.044679
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,0.043655
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,0.043694
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,0.040591
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,0.030824
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,0.024413
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,0.036601
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,0.030095
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,0.030147

In [12]:
# Find mean of mpg grouping origin
g = data.groupby(['origin'])['mpg'].mean()
print(g)

origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

In [13]:
# sort by mpg in desc order and get first 10 car names
sorted_df = data.sort_values(by='mpg',ascending=False)
#sorted_df.drop(sorted_df.index[0:6], inplace=True)
s = sorted_df[:10]
car_name = s.iloc[:,8]
print(car_name)

322                          mazda glc
329                honda civic 1500 gl
325               vw rabbit c (diesel)
394                          vw pickup
326                 vw dasher (diesel)
244    volkswagen rabbit custom diesel
309                          vw rabbit
330               renault lecar deluxe
324                         datsun 210
247                     datsun b210 gx
Name: car name, dtype: object

In [14]:
# Create a new column performance_score using a custom function
def performance_score(row): 
 return row['mpg'] * row['acceleration'] / row['weight'] 
data['performance_score'] = data.apply(performance_score, axis = 1)
for res in data['performance_score']:
    print(res)

0.06164383561643835
0.04670999187652315
0.057625145518044235
0.055927759976696766
0.0517541316323572
0.03455425017277125
0.028938906752411574
0.027597402597402596
0.031638418079096044
0.033116883116883114
0.042099354476564696
0.031033527292878914
0.03788885934591864
0.04536616979909268
0.15177065767284992
0.12036710201200142
0.10057678442682047
0.1298801700811751
0.18380281690140846
0.2904632152588556
0.16373502994011976
0.14320987654320988
0.18421052631578946
0.14547896150402864
0.11895770392749244
0.030335861321776816
0.034277879341864714
0.03388863532633501
0.03518596787827557
0.18380281690140846
0.19169611307420495
0.1570915619389587
0.23216031280547408
0.09377372817008352
0.0721139866240186
0.07915289876839891
0.08918837068443368
0.08485401459854014
0.03991446899501069
0.0360663082437276
0.04549831487722677
0.04443359375
0.027850655903128154
0.03286978508217446
0.030350194552529183
0.08203916272788657
0.17358803986710963
0.08683729433272395
0.08314749920356801
0.14504504504504503
0.18464437117286858
0.2820636451301832
0.2106537530266344
0.332205301748449
0.39057656540607566
0.2797164667393675
0.27263427109974425
0.16330114135206322
0.19990592662276577
0.23979591836734693
0.16196013289036545
0.15566037735849056
0.036499766027140855
0.03831242873432155
0.04897218863361548
0.0440784693630419
0.05324074074074074
0.02611698683358515
0.03898267436694802
0.036355475763016155
0.03674807779285391
0.11008583690987124
0.048175745118191164
0.04441190824792582
0.04843968327899394
0.04807456463085602
0.08898738493010569
0.15770609318996415
0.13746223564954682
0.21379625399725902
0.14697286012526095
0.20804195804195805
0.13308060654429368
0.19408502772643252
0.21214285714285713
0.04121951219512195
0.04384531590413943
0.042377131394182546
0.050222662048490845
0.049642573471008734
0.027867528271405494
0.03494623655913978
0.0387348154939262
0.04791125796554166
0.03020063357972545
0.026661280549383964
0.037424757916775714
0.09516180711310478
0.08785845027455766
0.09779286926994907
0.09831181727904667
0.12672176308539945
0.28
0.030818491094656793
0.030574806359559722
0.036312849162011177
0.033340742387197156
0.09680889207601291
0.16673979815708645
0.17055393586005832
0.15258511979823455
0.11440677966101695
0.15216450216450217
0.11893203883495146
0.17792494481236204
0.04777070063694268
0.035530621785881254
0.3028923406534547
0.17238183503243745
0.10844306738962045
0.10268479776847977
0.04854368932038835
0.12631578947368421
0.09618810117563235
0.03302401746724891
0.10638297872340426
0.12417391304347826
0.10479145122371596
0.0764388489208633
0.30205128205128207
0.17503059975520197
0.3660130718954248
0.16719118804091268
0.07193864057127744
0.07929515418502203
0.08220315527262663
0.05409321419946873
0.04011491806767397
0.042405205295041506
0.04829667960327728
0.0509748649283533
0.2156376746282109
0.2052980132450331
0.16391304347826086
0.31018799272286235
0.3035446829755367
0.19105882352941175
0.17647058823529413
0.1620658949243099
0.1446364001607071
0.1685487243831033
0.248
0.09313725490196079
0.08326105810928014
0.09178321678321678
0.09262191260291323
0.03941730934018852
0.0472972972972973
0.05157847932414406
0.04058406699592012
0.09137445610442795
0.07595586348473185
0.07640750670241286
0.09035667107001322
0.10365251727541955
0.0838248990996585
0.049226885452824234
0.21372639336711194
0.14816218264494127
0.10981468771448182
0.16415895061728394
0.11991117690599556
0.18556005398110662
0.16031434184675836
0.08746648793565684
0.2096024780588539
0.10059171597633136
0.12806236080178174
0.13222861007778153
0.10831918505942276
0.12635716959940096
0.32172701949860727
0.17613636363636365
0.1903153153153153
0.1448289269051322
0.20407982261640797
0.18760217983651228
0.05397390272835113
0.04964200477326969
0.05437910146390712
0.0440332147093713
0.1047943086916177
0.09513868177751268
0.1402390438247012
0.12836304700162077
0.31636363636363635
0.2502079482439926
0.21259679917398036
0.31988857938718657
0.09695973705834018
0.10576385002797986
0.08222222222222222
0.0975571562793611
0.19720547945205477
0.2733668341708543
0.2130858468677494
0.14050682261208577
0.09968253968253968
0.04355329949238579
0.12724770642201833
0.10051194539249146
0.07213350785340314
0.04558219178082192
0.03847102342786683
0.050387596899224806
0.04846870838881491
0.2849633251833741
0.2060324825986079
0.3669041095890411
0.17184782608695653
0.28935732647814916
0.056378865979381444
0.07955665024630541
0.051292270531400966
0.0520372526193248
0.0815340909090909
0.10115328467153284
0.09264462809917355
0.09971631205673759
0.04208530805687204
0.0424249699879952
0.04372254335260115
0.053517877739331025
0.21675257731958764
0.14306569343065692
0.20891832229580573
0.1462431941923775
0.2528035104826914
0.25669879518072286
0.24785894206549117
0.19636986301369863
0.1133214920071048
0.10584615384615384
0.10670955882352941
0.4668261964735516
0.2888
0.3205642317380352
0.3540289855072464
0.3289111111111111
0.09166419019316493
0.06856224899598393
0.07242577030812325
0.10428288543140028
0.11825673534072899
0.1076424957841484
0.14211029411764706
0.10279883381924197
0.10395015576323986
0.09629585798816569
0.11314657980456026
0.0960828729281768
0.08014956011730205
0.07399708029197079
0.06884760522496372
0.06325117004680188
0.058762254901960784
0.2296983758700696
0.1525390625
0.17384347826086954
0.20091928251121075
0.12416699801192844
0.14114389799635702
0.1467180385288967
0.14807068607068608
0.11405300353356893
0.07363057324840765
0.1213309481216458
0.07506158357771262
0.23585427135678394
0.22936768149882905
0.10203389830508475
0.12052173913043479
0.13349134948096886
0.11260030627871362
0.10177380952380953
0.06817708333333333
0.06331275167785236
0.05506953223767383
0.07222976501305482
0.057754587155963294
0.054674395658608786
0.07988904299583911
0.061040609137055835
0.23199999999999998
0.262440506329114
0.2684490861618799
0.15393258426966291
0.144628895184136
0.10261538461538461
0.21146081504702194
0.15514035087719297
0.2052
0.239093023255814
0.30225742574257425
0.25742253521126757
0.170187265917603
0.12541040462427747
0.12804444444444446
0.17300469483568073
0.2845382462686567
0.3639634146341464
0.2346933962264151
0.3021693907875186
0.17251680358476476
0.16649477351916378
0.16264735264735267
0.10564034309375925
0.24768738574040217
0.17037993360383624
0.2154799370574351
0.22801972062448644
0.21608830022075054
0.3953270142180095
0.14348571428571427
0.37126066350710896
0.4610599520383693
0.44050535331905777
0.24554576271186437
0.20123076923076924
0.3326918918918919
0.3855967302452316
0.28363636363636363
0.24712195121951222
0.12810309278350515
0.12241735537190082
0.2114
0.11617211703958692
0.24052401746724889
0.1715020080321285
0.16555597722960153
0.14180152671755727
0.10866055045871559
0.16226415094339622
0.3765185185185185
0.34112
0.32108522727272737
0.27842130750605326
0.3634430379746835
0.31815121951219516
0.27486146095717884
0.23342212189616257
0.2725085574572127
0.26005462184873945
0.21397260273972601
0.23495689655172414
0.21958371040723984
0.23162553191489363
0.18620267686424474
0.21946110056926
0.1774736842105263
0.19041772151898734
0.11035862068965516
0.11397952218430034
0.10363689604685213
0.1356778523489933
0.11288235294117648
0.08431746031746032
0.2106717850287908
0.19022727272727274
0.25553235908141964
0.19502912621359222
0.18376237623762376
0.1776965265082267
0.13738219895287956
0.15535420098846786
0.2781818181818182
0.3325432098765432
0.27695431472081217
0.26287058823529413
0.2930823529411765
0.24166666666666667
0.23673469387755103
0.255946547884187
0.2900763358778626
0.2556743002544529
0.3085714285714286
0.1392190152801358
0.2142620232172471
0.14584139264990328
0.11407407407407406
0.16690431519699814
0.19746835443037974
0.15833898305084745
0.15096774193548387
0.5081690140845071
0.1617429193899782
0.19840000000000002
0.22110294117647059

In [15]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio,performance_score
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,0.037100,0.061644
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,0.044679,0.046710
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,0.043655,0.057625
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,0.043694,0.055928
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,0.040591,0.051754
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,0.030824,0.150968
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,0.024413,0.508169
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,0.036601,0.161743
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,0.030095,0.198400
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,0.030147,0.221103

In [16]:
# Generate a summary DataFrame with: Average mpg, weight, and horsepower for each model_year. 
data['horsepower'] = h
a = data.groupby(['model year'])['mpg'].mean()
b = data.groupby(['model year'])['weight'].mean()
c = data.groupby(['model year'])['horsepower'] .mean()
#print(a,b,c)
array = pd.DataFrame([a,b,c])
print(array)
array.info()

model year           70           71           72        73           74  \
mpg           17.689655    21.250000    18.714286    17.100    22.703704
weight      3372.793103  2995.428571  3237.714286  3419.025  2877.925926
horsepower   147.827586   103.214286   120.178571   130.475    90.740741

model year           75           76           77           78           79  \
mpg           20.266667    21.573529    23.375000    24.061111    25.093103
weight      3176.800000  3078.735294  2997.357143  2861.805556  3055.344828
horsepower   101.066667   101.117647   105.071429    99.694444   101.206897

model year           80           81           82
mpg           33.696552    30.334483    31.709677
weight      2436.655172  2522.931034  2453.548387
horsepower    72.137931    78.241379    78.838710
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, mpg to horsepower
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   70      3 non-null      float64
 1   71      3 non-null      float64
 2   72      3 non-null      float64
 3   73      3 non-null      float64
 4   74      3 non-null      float64
 5   75      3 non-null      float64
 6   76      3 non-null      float64
 7   77      3 non-null      float64
 8   78      3 non-null      float64
 9   79      3 non-null      float64
 10  80      3 non-null      float64
 11  81      3 non-null      float64
 12  82      3 non-null      float64
dtypes: float64(13)
memory usage: 336.0+ bytes

In [17]:
# subset of the data containing only mpg, cylinders, horsepower, and weight for cars with mpg > 30
new_boolean = data['mpg'] > 30
#print(new_boolean)
subset = data[new_boolean] 
subset[['mpg', 'cylinders', 'horsepower', 'weight']]

      mpg  cylinders  horsepower  weight
53   31.0          4        65.0    1773
54   35.0          4        69.0    1613
129  31.0          4        67.0    1950
131  32.0          4        65.0    1836
144  31.0          4        52.0    1649
..    ...        ...         ...     ...
390  32.0          4        96.0    2665
391  36.0          4        84.0    2370
394  44.0          4        52.0    2130
395  32.0          4        84.0    2295
397  31.0          4        82.0    2720

[85 rows x 4 columns]

In [18]:
# Save subset to into a CSV file
subset.to_csv("high_mpg_cars.csv")

In [19]:
# Calculate the IQR for mpg. 
mpg_q1 = data["mpg"].quantile(0.25)
mpg_q3 = data["mpg"].quantile(0.75)
IQR = mpg_q3 - mpg_q1
upper_range = mpg_q3 + 1.5 * IQR
lower_range = mpg_q1 - 1.5 * IQR
print(mpg_q1, mpg_q3, IQR, upper_range, lower_range)

17.5 29.0 11.5 46.25 0.25

In [20]:
# Define outlier
mpg_outlier = data["mpg"][(data["mpg"] > upper_range) |
                                   (data["mpg"] < lower_range)] 

mpg_outlier

322    46.6
Name: mpg, dtype: float64

In [21]:
# DataFrame of cars classified as outliers, displaying car_name, mpg, and model_year
dff = pd.DataFrame(data, index=[322])
dff[['mpg', 'cylinders', 'horsepower', 'weight']]

      mpg  cylinders  horsepower  weight
322  46.6          4        65.0    2110